<div class="col-sm-4">
    <div id = "loginDiv">
        <form (ngSubmit)="login()" >
            <div class ="form-group">
                <label for ="uname">Username</label>
                <input type="text" id="uname" class = "form-control" name="uname" required [(ngModel)]="uname" 
                #username="ngModel">
                <span class ="errormsg" *ngIf="!username.valid && username.touched">Username required</span>
            </div>

            <div class = "from-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name = "password" required #pword="" ngModel [(ngModel)]="password">
                <span class="errormsg" *ngIf="!pword.valid && pword.touched">Password required!</span>            
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">
                    Login
                </button>
            </div>
        </form>

        <div class="successmsg">
            <p *ngIf="loginResult == 'success'">Login success!!</p>
        </div>
        <div class="errormsg">
            <p *ngIf="loginResult == 'failed'"> Login Failed </p>
        </div>
    </div>
</div>
